@import "tailwindcss";
@theme {
    --color-token: oklch(57.5% 0.0 0);
    --color-normal: oklch(72.5% 0.10 80);
    --color-effect: oklch(62.5% 0.125 45);
    --color-ritual: oklch(55% 0.125 250);
    --color-fusion: oklch(52.5% 0.120 295);
    --color-synchro: oklch(85% 0 270);
    --color-xyz: oklch(20% 0.04 220);
    --color-link: oklch(52.5% 0.15 265);
    --color-spell: oklch(57.5% 0.125 190);
    --color-trap: oklch(55% 0.15 350);
    --color-osiris: oklch(42.5% 0.025 60);
    --color-obelisk: oklch(42.5% 0.025 60);
    --color-ra: oklch(42.5% 0.025 60);
    --color-dark_synchro: oklch(42.5% 0.025 60);
    --color-skill: oklch(42.5% 0.025 60);
}
@font-face {
  font-family: 'DFLeiSho';
  src: url('./assets/fonts/dfleisho.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MatrixII';
  src: url('./assets/fonts/matrixIIOTreg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: 100%;
}

@font-face {
  font-family: 'MatrixII';
  src: url('./assets/fonts/matrixIIOTseminarrow.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: 60%;
}

@font-face {
  font-family: 'MatrixII';
  src: url('./assets/fonts/matrixIIOTnarrow.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: 40%;
}

@font-face {
  font-family: 'MatrixII';
  src: url('./assets/fonts/matrixIIOTbook.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MatrixII';
  src: url('./assets/fonts/matrixIIOTbold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'MatrixII', ui-sans-serif, system-ui;
    font-weight: 300;
  }
}